.box{
    background-color: rgba(0, 0, 0, 0.873);
    width: 80%;
    height: 80%;
    position: static ;
    top: 20% ;
    left: 10%;
    margin: 200px auto; 
    padding: 25px 35px;
    border-radius: 20px;
}
h2{
    color: #ffffff; 
}
p{
    color: #ffffff;
}
.pic1{
    position: absolute ;
    top: 75%;
    right:5% ; 
    opacity: 0.2;
}

